import os

import connexion
{{#featureCORS}}
from flask_cors import CORS
{{/featureCORS}}

from {{packageName}} import encoder
from {{packageName}}.database.database import init_db
from {{packageName}}.config import config
from {{packageName}}.handlers import init_app
from {{packageName}}.views import init_view


def create_app(config_name_=None):
    app = connexion.App(__name__, specification_dir='./openapi/')
    config_name = os.getenv("FLASK_CONFIGURATION", "default")
    if config_name_:
        config_name = config_name_
    app.app.config.from_object(config[config_name])
    if "OPENAPISERVER_SETTINGS" in os.environ:
        app.app.config.from_envvar('OPENAPISERVER_SETTINGS')
    app.app.json_encoder = encoder.JSONEncoder
    init_db(app.app)
    app.add_api('openapi.yaml',
                arguments={'title': '{{appName}}'},
                pythonic_params=True)
    init_app(app)
    init_view(app.app)

{{#featureCORS}}
    # add CORS support
    CORS(app.app)

{{/featureCORS}}
    return app.app
