{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
def {{operationId}}_handler({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}}):
    return "do some magic"
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}